<section class="section section--beige advantages__section">
	<div class="container">
		<div class="advantages__slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide advantage">
					<div class="advantage__wrapper">
						<div class="advantage__img-wrapper">
							<img src="./img/photo_banner.jpg" alt="banner name" class="advantage__img">
						</div>
						<div class="advantage__text-wrapper">
							<h2 class="title advantage__title">Подлинное качество</h2>
							<p class="text--s16 advantage__desc">Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.</p>
							<button type="button" class="btn-reset text--medium text--s12 button--beige advantage__button"> Смотреть каталог</button>
						</div>
					</div>
				</div>
				<div class="swiper-slide advantage">
					<div class="advantage__wrapper">
						<div class="advantage__img-wrapper">
							<img src="./img/photo_1.jpg" alt="banner2 name" class="advantage__img">
						</div>
						<div class="advantage__text-wrapper">
							<h2 class="title advantage__title">Непревзойденный стиль</h2>
							<p class="text--s16 advantage__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi doloribus facilis officia provident quasi quia, tempora voluptatibus. Impedit, inventore?</p>
							<button type="button" class="btn-reset text--medium text--s12 button--beige advantage__button"> Смотреть каталог</button>
						</div>
					</div>

				</div>
				<div class="swiper-slide advantage">
					<div class="advantage__wrapper">
						<div class="advantage__img-wrapper">
							<img src="./img/photo_2.jpg" alt="banner2 name" class="advantage__img">
						</div>
						<div class="advantage__text-wrapper">
							<h2 class="title advantage__title">Динамичность линий</h2>
							<p class="text--s16 advantage__desc"> Accusantium adipisci amet aperiam asperiores assumenda beatae cupiditate dignissimos dolor dolores doloribus eos exercitationem in ipsum itaque laboriosam libero mollitia nam natus numquam obcaecati optio qui, quis quos ratione repudiandae unde veniam voluptatum.</p>
							<button type="button" class="btn-reset text--medium text--s12 button--beige advantage__button"> Смотреть каталог</button>
						</div>
					</div>

				</div>
			</div>
			<div class="slider-nav__wrapper">
				<div class="slider-nav slider-nav__prev">
					@@include("icons.html", {
					"id": "arrow",
					"class": ""
					})
				</div>
				<div class="slider-counter"></div>
				<div class="slider-nav slider-nav__next">
					@@include("icons.html", {
						"id": "arrow",
						"class": ""
					})
				</div>
			</div>
<!--			<div class="slider-counter"></div>-->
		</div>
	</div>
	<p>advantages</p>
</section>
