<div class="offer">
	<div class="container offer__container">
		<div class="offer__text-wrapper">
			<h1 class="title box-line--before offer__title">Весна/Лето 2019</h1>
			<p class="text--playfair offer__subtitle">Коллекция
			</p>
			<p class="text--light offer__desc">Швейцарские часы в наличии в Москве	и с доставкой по всему миру</p>
			<button type="button" class="btn-reset text--medium text--s12 button--brown offer__button">Смотреть каталог</button>
		</div>
		<div class="offer__img-wrapper">
			<span class="text--s16 text--prata box-line--after offer__price">22 000 &#8381;</span>
			<img src="./img/watch.png" alt="watch" class="offer__img">
			<span class="text--s16 text--prata box-line--before offer__value">28 мм диаметр</span>
		</div>
	</div>
</div>
