<section class="section popular__section">
	<div class="container popular__container">
		<h2 class="title popular__title">
			Популярные модели
		</h2>
		<a href="#getAll" class="text--medium text--s16 popular__more">Смотреть все</a>
		<div class="popular__list">
			<div class="popular__item popular-item">
				<span class="text--bold text--playfair popular-item__subtitle">Rado</span>
				<span class="text--prata text--s12 popular-item__price">65 300 &#8381;</span>
				<div class="popular-item__img-wrapper">
					<img src="./img/watch_1.png" alt="item 1" class="popular-item__img">
				</div>
				<div class="popular-item__more-wrapper">
					<a href="/#more" class="text--playfair text--s16 box-line--before popular-item__link">Подробнее</a>
				</div>
			</div>
			<div class="popular__item popular-item">
				<span class="text--bold text--playfair popular-item__subtitle">BVLGARI</span>
				<span class="text--prata text--s12 popular-item__price">81 700 &#8381;</span>
				<div class="popular-item__img-wrapper">
					<img src="./img/watch_3.png" alt="item 2" class="popular-item__img">
				</div>
				<div class="popular-item__more-wrapper">
					<a href="/#more" class="text--playfair text--s16 box-line--before popular-item__link">Подробнее</a>
				</div>
			</div>
			<div class="popular__item popular-item">
				<span class="text--bold text--playfair popular-item__subtitle">BVLGARI</span>
				<span class="text--prata text--s12 popular-item__price">72 700 &#8381;</span>
				<div class="popular-item__img-wrapper">
					<img src="./img/watch_4.png" alt="item 3" class="popular-item__img">
				</div>
				<div class="popular-item__more-wrapper">
					<a href="/#more" class="text--playfair text--s16 box-line--before popular-item__link">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>
