<section class="section subscription__section">
	<div class="container">
		<div class="subscription__wrapper">
			<div class="subscription__text-wrapper">
				<h2 class="title subscription__title">Следите за нашими новостями</h2>
				<div class="subscription__desc">Подписывайтесь на @conquest_watch в соцсетях и узнавайте о новинках и акциях первыми.
				</div>
				<div class="subscription__share share__wrapper">
					<a href="#sharing" class="share__item">
						@@include("icons.html", {
							"id": "instagram",
							"class": "share__icon"
						})
					</a>
					<a href="#sharing" class="share__item">
						@@include("icons.html", {
						"id": "facebook",
						"class": "share__icon"
						})
					</a>
					<a href="#sharing" class="share__item">
						@@include("icons.html", {
						"id": "twitter",
						"class": "share__icon"
						})
					</a>
				</div>
			</div>
			<div class="subscription__img-wrapper">
				<div class="subscription__item">
					<img src="./img/photo_1.jpg" alt="photo 1" class="subscription__img">
				</div>
				<div class="subscription__item">
					<img src="./img/photo_2.jpg" alt="photo 2" class="subscription__img">
				</div>
				<div class="subscription__item">
					<img src="./img/photo_3.jpg" alt="photo 3" class="subscription__img">
				</div>
			</div>
		</div>

	</div>
</section>
