// common settings
$fontsize: 2.2rem;
$lineHeight: 1.4;

// fonts
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell,"Open Sans","Helvetica Neue", sans-serif;
$font-family-Gilroy: "Gilroy", sans-serif;

// colors
$color-black: #000;
$color-white: #FFF;
$color-cloud-burst: #212D55;
$color-picton-blue: #31BEF4;
$color-accent: $color-picton-blue;

// Settings
$desktop-xl: 1440;
$desktop: 1300;
$laptop: 992;
$tablet: 768;
$mobile-hr: 576;
$mobile: 320;
$desktop-vh: 750;
